<div class="skill-wrapper">
    <div class="skills-intro-container">
      <h1 class="h1-intro">Here is some of my skills!</h1>
    </div>
    <div class="skills-intro-container">
      <div class="button-div" :style="[{
        'box-shadow' : isHighlighted(backend) ? '5px 5px var(--accent-color)' : 'none',
        'opacity' : isHighlighted(backend) ? '1' : '0.5' }]" 
      @click="backendSelected()"><h1 class="h1-skills">Backend</h1><img style="height: 25px; width: 25px; float: right;" src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/undefined/external-backend-no-code-flaticons-flat-flat-icons-2.png"/></div>
      <div class="button-div" :style="[{
        'box-shadow' : isHighlighted(frontend) ? '5px 5px var(--accent-color)' : 'none',
        'opacity' : isHighlighted(frontend) ? '1' : '0.5' }]" 
        @click="frontendSelected()"><h1 class="h1-skills">Frontend</h1><img style="height: 25px; width: 25px; float: right;" src="https://img.icons8.com/external-lylac-kerismaker/32/undefined/external-Frontend-web-development-lylac-kerismaker.png"/></div>
      <div class="button-div" 
      :style="[{
        'box-shadow' : isHighlighted(design) ? '5px 5px var(--accent-color)' : 'none',
        'opacity' : isHighlighted(design) ? '1' : '0.5' }]" 
        @click="designSelected()"><h1 class="h1-skills">Design</h1><img style="height: 25px; width: 25px; float: right;" src="https://img.icons8.com/external-filled-outline-wichaiwi/64/undefined/external-creative-good-life-filled-outline-wichaiwi.png"/></div>
      <div class="button-div" 
      :style="[{
        'box-shadow' : isHighlighted(system) ? '5px 5px var(--accent-color)' : 'none',
        'opacity' : isHighlighted(system) ? '1' : '0.5' }]" 
        @click="systemSelected()"><h1 class="h1-skills">Systems</h1>
        <img style="height: 25px; width: 25px; float: right;" src="https://img.icons8.com/external-flat-geotatah/64/undefined/external-system-training-management-system-flat-flat-geotatah.png"/></div>
    </div>
    <div class="skills-container">
    <div class="icon-container">
      <h1 class="h1-skills">Proficent</h1>

      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kotlin/kotlin-original.svg"/> 
        <span v-if="isHighlighted(backend)" class="tooltiptext">Kotlin</span>
      </div>

      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" />
        <span v-if="isHighlighted(backend)" class="tooltiptext">C</span>
      </div>

      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
        <span v-if="isHighlighted(backend)" class="tooltiptext">Java</span>
      </div>

      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(frontend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg" />
        <span v-if="isHighlighted(frontend)" class="tooltiptext">Vue.JS</span>
      </div>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(frontend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" />
        <span v-if="isHighlighted(frontend)" class="tooltiptext">JavaScript</span>
      </div>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(system) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/android/android-original.svg" />
        <span v-if="isHighlighted(system)" class="tooltiptext">Android</span>
      </div>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(design) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/materialui/materialui-original.svg" />
        <span v-if="isHighlighted(design)" class="tooltiptext">Material UI</span>
      </div>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(system) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" />
        <span v-if="isHighlighted(system)" class="tooltiptext">UNIX</span>
      </div>
      <h1 class="h1-skills">Intermediate</h1>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" />
        <span v-if="isHighlighted(backend)" class="tooltiptext">MySQL</span>
      </div>
    
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg" />
        <span v-if="isHighlighted(backend)" class="tooltiptext">SQLite</span>
      </div>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(frontend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />
        <span v-if="isHighlighted(frontend)" class="tooltiptext">React.JS</span>
      </div>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />
        <span v-if="isHighlighted(backend)" class="tooltiptext">NodeJS</span>
      </div>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
        <span v-if="isHighlighted(backend)" class="tooltiptext">PSQL</span>
      </div>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(system) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
        <span v-if="isHighlighted(system)" class="tooltiptext">Git</span>
      </div>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(frontend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
        <span v-if="isHighlighted(frontend)" class="tooltiptext">HTML5</span>
      </div>

      <div class="skill-image-placeholder"></div>
      <h1 class="h1-skills">Novice</h1>
            <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg"/>
        <span v-if="isHighlighted(backend)" class="tooltiptext">Express</span>
      </div>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(design) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuetify/vuetify-original.svg"/>
        <span v-if="isHighlighted(design)" class="tooltiptext">Vuetify</span>
      </div>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(design) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg"/>
        <span v-if="isHighlighted(design)" class="tooltiptext">Bootstrap</span>
      </div>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(frontend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"/>
        <span v-if="isHighlighted(frontend)" class="tooltiptext">TypeScript</span>
      </div>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
        <span v-if="isHighlighted(backend)" class="tooltiptext">Python</span>
      </div>
      <div class="tooltip">
        <img class="skill-image" :style="[{'opacity' : isHighlighted(frontend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
        <span v-if="isHighlighted(frontend)" class="tooltiptext">CSS3</span>
      </div>
      <div class="tooltip">
        <div class="skill-image-placeholder"></div>

      </div>
      <div class="skill-image-placeholder"></div>
    </div>
  </div>
</div>
