<div class="skill-wrapper">
    <div class="skills-intro-container">
      <h1 class="h1-intro">Here is some of languages / framworks / systems I've worked in.</h1>
    </div>
    <div class="skills-container">
    <div class="icon-container">
      <h1 class="h1-skills">Proficent</h1>
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kotlin/kotlin-original.svg" />
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" />
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg" />
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" />
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/android/android-original.svg" />
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/materialui/materialui-original.svg" />
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" />
      <h1 class="h1-skills">Intermediate</h1>
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" />
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg" />
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
      <div class="skill-image-placeholder"></div>
      <h1 class="h1-skills">Novice</h1>
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg"/>
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuetify/vuetify-original.svg"/>
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg"/>
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"/>
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
      <img class="skill-image" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
      <div class="skill-image-placeholder"></div>
      <div class="skill-image-placeholder"></div>
    </div>
  </div>
</div>
