<div class="skill-wrapper">
    <div class="skills-intro-container">
      <h1 class="h1-intro">Here is some of my skills!</h1>
    </div>
    <div class="skills-intro-container">
      <div class="button-div" @click="backendSelected()"><h1 class="h1-skills">Backend</h1><img style="height: 25px; width: 25px; float: right;" src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/undefined/external-backend-no-code-flaticons-flat-flat-icons-2.png"/></div>
      <div class="button-div" @click="frontendSelected()"><h1 class="h1-skills">Frontend</h1><img style="height: 25px; width: 25px; float: right;" src="https://img.icons8.com/external-lylac-kerismaker/32/undefined/external-Frontend-web-development-lylac-kerismaker.png"/></div>
      <div class="button-div" @click="designSelected()"><h1 class="h1-skills">Design</h1><img style="height: 25px; width: 25px; float: right;" src="https://img.icons8.com/external-filled-outline-wichaiwi/64/undefined/external-creative-good-life-filled-outline-wichaiwi.png"/></div>
      <div class="button-div" @click="systemSelected()"><h1 class="h1-skills">Systems</h1>
        <img style="height: 25px; width: 25px; float: right;" src="https://img.icons8.com/external-flat-geotatah/64/undefined/external-system-training-management-system-flat-flat-geotatah.png"/></div>
    </div>
    <div class="skills-container">
    <div class="icon-container">
      <h1 class="h1-skills">Proficent</h1>
      <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kotlin/kotlin-original.svg" /> 
      <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" />
      <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
      <img class="skill-image" :style="[{'opacity' : isHighlighted(frontend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg" />
      <img class="skill-image" :style="[{'opacity' : isHighlighted(frontend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" />
      <img class="skill-image" :style="[{'opacity' : isHighlighted(system) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/android/android-original.svg" />
      <img class="skill-image" :style="[{'opacity' : isHighlighted(design) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/materialui/materialui-original.svg" />
      <img class="skill-image" :style="[{'opacity' : isHighlighted(system) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" />
      <h1 class="h1-skills">Intermediate</h1>
      <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" />
      <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg" />
      <img class="skill-image" :style="[{'opacity' : isHighlighted(frontend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />
      <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />
      <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
      <img class="skill-image" :style="[{'opacity' : isHighlighted(system) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
      <img class="skill-image" :style="[{'opacity' : isHighlighted(frontend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
      <div class="skill-image-placeholder"></div>
      <h1 class="h1-skills">Novice</h1>
      <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg"/>
      <img class="skill-image" :style="[{'opacity' : isHighlighted(design) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuetify/vuetify-original.svg"/>
      <img class="skill-image" :style="[{'opacity' : isHighlighted(design) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg"/>
      <img class="skill-image" :style="[{'opacity' : isHighlighted(frontend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"/>
      <img class="skill-image" :style="[{'opacity' : isHighlighted(backend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
      <img class="skill-image" :style="[{'opacity' : isHighlighted(frontend) ? '1' : '0.1'}]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
      <div class="skill-image-placeholder"></div>
      <div class="skill-image-placeholder"></div>
    </div>
  </div>
</div>
