.aboutme-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color-primary);
  top: 50px;
  width: 100vw;
  height: 100vh;
  transition: 0.3s ease-in-out;
}

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
.profile {
  display: grid;
  gap: 3rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "image name"
    "image description";
  max-width: 50vw;
  padding: var(--size-400);
}

.profile__image {
  border-radius: 56% 44% 73% 27% / 45% 68% 32% 55%;
  height: 50vh;
  border: 5px solid var(--background-color-secondary);
  box-shadow: 5px 5px var(--accent-color);
  transition: all 0.3s ease-in-out;


  grid-area: image;
}

.profile__name {
  grid-area: name;
}

.profile__description {
  grid-area: description;
  color: var(--text-primary-color);
  border-radius: 26% 33% 73% 27% / 35% 88% 42% 5%;
  font-family: 'Roboto', sans-serif;
  transition: all 0.3s ease-in-out;
}

.h2-title { margin-top: 20px; margin-left: 20px; margin-right: 20px; color: var(--text-primary-color); font-family: 'Roboto', sans-serif; font-size: 28px; font-weight: 800; line-height: 36px; text-align: lfet; font-style: bold;}