<div class="timeline">
  <div class="container right">
    <div class="content-timeline profile__description" :style="[{'height' : !is1997Open ? '8.5rem' : '11rem'}]" @click="foldOut(1997)">
      <h2>1997 <img style="float: right; height: 20px; width: 20px;" :src="!is1997Open ? 'https://img.icons8.com/ios-filled/50/undefined/expand-arrow--v1.png' : 'https://img.icons8.com/ios-filled/50/undefined/collapse-arrow.png'"/></h2>
      <p>The year I was born. Pretty good year.</p>

      Not really much to say here.
    </div>
  </div>
  <div class="container left">
    <div class="content-timeline profile__description" :style="[{'height' : !is2019Open ? '8.5rem' : '22rem'}]" @click="foldOut(2019)">
      <h2>2019 <img style="float: right; height: 20px; width: 20px;" :src="!is2019Open ? 'https://img.icons8.com/ios-filled/50/undefined/expand-arrow--v1.png' : 'https://img.icons8.com/ios-filled/50/undefined/collapse-arrow.png'"/></h2>
      <p>Started studying math and physics at the university.</p>

      After some time working at IKEA and Martin & Servera driving forklifts, I was ready for some new challenges.
      <br><br>Having studied social sciences at highschool, I had to take a few courses in physics and maths to be eligible
      to Computer Science.
    </div>
  </div>
  <div class="container right">
    <div class="content-timeline profile__description" :style="[{'height' : !is2020Open ? '8.5rem' : '19rem'}]" @click="foldOut(2020)">
      <h2>2020 <img style="float: right; height: 20px; width: 20px;"  :src="!is2020Open ? 'https://img.icons8.com/ios-filled/50/undefined/expand-arrow--v1.png' : 'https://img.icons8.com/ios-filled/50/undefined/collapse-arrow.png'"/></h2>
      <p>Started studying Computer Science.</p>

      My way into Computer Science is actually just luck. I was not familiar with it before, except a few friends doing something called "programming".<br><br>
      Now, 2 years later, I'm glad I picked it.
    </div>
  </div>
  <div class="container left">
    <div class="content-timeline profile__description" :style="[{'height' : !is2021Open ? '8.5rem' : '29rem'}]" @click="foldOut(2021)">
      <h2>2021 <img style="float: right; height: 20px; width: 20px;" :src="!is2021Open ? 'https://img.icons8.com/ios-filled/50/undefined/expand-arrow--v1.png' : 'https://img.icons8.com/ios-filled/50/undefined/collapse-arrow.png'"/></h2>
      <p>Got a job at the university as a teaching assistant!</p>
      The fall of 2021, I got an offer from the university to start working as a teaching assistant.
      Courses that I've taught include:<br><br>
      - <span style="cursor: pointer" @click="linkToCourse('https://www.umu.se/utbildning/kurser/datastrukturer-och-algoritmer-c/')">Datastructures and Algorithms</span><br><br>
      - <span style="cursor: pointer" @click="linkToCourse('https://www.umu.se/utbildning/kurser/objektorienterad-programmeringsmetodik/')">Objective-Oriented Programming</span><br><br>
      - <span style="cursor: pointer" @click="linkToCourse('https://www.umu.se/utbildning/kurser/programmeringsteknik-med-c-och-matlab/')">Programming in C and MatLab</span><span><br><br>
      - <span style="cursor: pointer" @click="linkToCourse('https://www.umu.se/utbildning/kurser/imperativ-programmering-c/')">Imperative Programming in C</span> <br><br>
      - <span style="cursor: pointer" @click="linkToCourse('https://www.umu.se/utbildning/kurser/applikationsutveckling-i-java/')">Application Development in Java.</span></span>

    </div>
  </div>
  <div class="container right">
    <div class="content-timeline profile__description" :style="[{'height' : !is2022Open ? '8.5rem' : '29rem'}]" @click="foldOut(2022)">
      <h2>2022 <img style="float: right; height: 20px; width: 20px;" :src="!is2022Open ? 'https://img.icons8.com/ios-filled/50/undefined/expand-arrow--v1.png' : 'https://img.icons8.com/ios-filled/50/undefined/collapse-arrow.png'"/></h2>
      <p>Got a job as a software developer at Acino!</p>

      During the early spring / late winter, I contacted Acino, a local IT-consultant firm, and was offered to become a student ambassador for them.
      My job was basically being a link between Acino and students, and organizing code-nights, where students could come and talk and learn about programming.<br><br>
      This eventually led to my first job within the field. During the summer of 2022, I work as a software developer for Acino AB.
    </div>
  </div>
</div>
