.socials {
    background-color: var(--background-color-primary);
    margin-right: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s;
    transition: 0.3s ease-in-out;
  }
  
  .inner-home-container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
  }
  
  .inner-home-container-right {
    display: flex;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
  }
  
  .home-link {
    margin-left: 40px;
    color: var(--text-primary-color);
    transition: 0.3s ease-in-out;
  }
  
  .home-icon {
      background-color: var(--background-color-primary);
      height: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      transition: 0.3s ease-in-out;
  }
  
  .navbar {
    margin: 0;
    height: 50px;
    width: 100vw;
    max-width: 100%;
    background-color: var(--background-color-primary);;
    position: fixed;
    top: 20px;
    right:0;
    left: 0;
    display: flex;
    justify-content: space-between;
    transform: translate3d(0, 0, 0);
    transition: 0.3s ease-in-out;
  }
  
  .navbar.navbar--hidden {
    box-shadow: none;
    transform: translate3d(0, -120%, 0);
  }
  
  .social-icon {
    height: 40px;
  }
  
  .clickable-div {
    cursor: pointer;
  }
  
  .menu-btn {
    margin-left: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 30px;
    height: 4px;
    background: var(--text-primary-color);
    border-radius: 1px;
    transition: .3s ease-in-out;
  }
  
  .menu-btn__burger::before {
    margin-bottom: 5px;
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: var(--text-primary-color);
    border-radius: 5px;
    transition: .3s ease-in-out;
  }
  .menu-btn__burger::after {
    margin-bottom: 5px;
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: var(--text-primary-color);
    border-radius: 5px;
    transition: .3s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }